
<div class="img container-fluid d-flex justify-content-center text-center">
  <div id="container" class="container d-flex flex-column justify-content-center input">
      <div class="align-items-center row-cols-1 row-cols-sm-2  row-cols-lg-1 border border-2 rounded">
        <input
        id="filter"
         class="w-80 py-2 border-0"
         placeholder="     Filter by name"
         [(ngModel)]="searchvalue">
      </div>
      <div class="mt-2 d-flex justify-content-center align-content-center  flex-wrap">
        <pagination-controls
          class="btn-group btn-outline-primary mt-2 my-pagination rounded-5"
          (pageChange)="page = $event">
        </pagination-controls>
          <select id="category-select" [(ngModel)]="selectedCategory" class="btn">
            <option value="" disabled>Select a category:</option>
            <option value="">All categories</option>
            <option *ngFor="let topic of topics" value="{{topic}}">{{topic}}</option>
          </select>
          <select id="level-select" [(ngModel)]="selectLevel" class="btn">
            <option value="" disabled>Select level:</option>
            <option value="">All categories</option>
            <option *ngFor="let level of levels" value="{{level}}">{{level}}</option>
          </select>
      </div>
      <div class="container-fluid mt-2">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-1">
              <div class="col card" id='card'
                  *ngFor="let item of listOgCourses | categoryFilter: selectedCategory | levelFilter: selectLevel | searchFilter: searchvalue | paginate: {
                  itemsPerPage: 21,
                  currentPage: page,
                  totalItems: totalLength
                }">
                  <a>
                    <img class="img-fluid" [src]="item.img" [alt]="item.title" class="rounded text-center">
                  </a>
                  <div class="card-body text-end">
                      <span class="card-title fw-bold">{{item.title}}</span><br>
                      <p class="card-text">{{item.description}}</p>
                      <div class="d-flex justify-content-between">
                        <button class="btn btn-info"
                          [ngStyle]="{'background': item.level === 'Advanced' ? 'rgb(185, 43, 74)'  :
                          item.level === 'Intermediate' ? 'pink' : 'mediumspringgreen' }">
                          {{item.level}}
                        </button>
                        <button class="btn btn-info">{{item.categories}}</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <pagination-controls
        class="btn-group btn-outline-primary mt-2 my-pagination"
        (pageChange)="page = $event">
    </pagination-controls>
    <div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
      <img src="./assets/img/scrollTop.png" id="scroll" alt="to-top-icon" />
    </div>
  </div>

