<nav class="navbar navbar-expand-lg navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand picture" href="#">
      <img
       routerLink="/home"
       src="./assets/img/kindpng_1367954.png"
       alt="Logo"
       width="22"
       height="22"
       class="d-inline-block align-text-top logo">
      <a class="navbar-brand" routerLink="/home">AwesomEdu</a>
    </a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tel:123-456-7890">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
