.navbar-brand {
  color: skyblue;
}

.logo {
  margin-right: 2px;
}
a {
  text-decoration: none;
  color: aliceblue;
}

.picture{
  margin-left: 3%;
}
.pictures:hover {
  color: palevioletred;
  scale: 1.01;
  cursor: pointer;
}

a:hover {
  color: palevioletred;
  scale: 1.2;
  cursor: pointer;
}

a, button {
  transition: color 1.3s ease-out;
}

@media (max-width: 990px) {
  a:hover {
    scale: none;
  }
}
