<!-- <img class="img-fluid" src="./assets/img/EducationLaptop01.jpg" alt=""> -->
<img class="img-fluid" src="./assets/img/EducationLapt.jpg" alt="">
<div class="img d-flex justify-content-center align-items-center">
  <div class="container-sm row d-grid">
    <h3 class="col-sm-6 learn">
      Learn easy
    </h3>
    <h3 class="col-sm-6">
      With the world's largest online courses site.
    </h3>
    <p class="col-sm-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque error ex facilis voluptate maxime.
    </p>
    <button class="explore_courses" routerLink="/courses" type="button">Explore Courses</button>
  </div>
</div>
