img{
  height: 100%;
  /* background-image: url('./assets/img/EducationLapt.jpg'); */
  background-size: cover;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: -99999999;
}

.img {
  min-height: 100vh;
  /* background-image: url('./assets/img/EducationLapt.jpg'); */
  background-size: cover;
  width: 100%;
}

.learn{
  color: rgb(214, 37, 96);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.explore_courses {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 176px;
}

.explore_courses:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  scale: 1.2;
}

.explore_courses:hover:after {
  opacity: .5;
}

.explore_courses:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.explore_courses:active:after {
  opacity: 1;
}

@media (max-width: 768px) {
  .explore_courses {
    padding: 14px 22px;
    width: 176px;
    scale: none;
  }
}



